body {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px;
  padding-right: 15px;
  padding-left: 15px;
  background: #f5f5f5;
  font-family: Arial,sans-serif;
}

header:after {
  content: '';
  clear: both;
  display: table;
}

header .photo {
  float: left;
  margin-right: 25px;
}

header h1 {
  margin-bottom: 8px;
  margin-top: 12px;
}

header h2 {
  margin: 8px 0;
}

a {
  text-decoration: none;
}

header .contacts {
  padding: 0;
  list-style: none;
}

header .contacts a {
  color: #000000;
}

header .contacts li {
  line-height: 1.5;
}

.icon {
  display: inline-block;
  background: url('../images/icons.png') no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  text-indent: -9999px;
  vertical-align: middle;
}

.icon-home {
  background-position: -20px -0px;
}

.icon-phone {
  background-position: -20px -18px;
}

.icon-email {
  background-position: -2px 0px;
}

.icon-skype {
  background-position: -2px -18px;
}
